@import 'utils/sticky-footer';
@import 'transitions';
@import 'bootstrap';
@import 'breakpoints';
@import 'responsive-inlining';

@import 'utils/snap-drawer.scss';

.hidden{
  display: none;
}

html{
	min-height: 100%;
	position: relative;
  padding: 0;
  margin: 0;
  font-size: 1em;
  min-width: 270px;
}

body{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1em;
}


.snap-content{
  overflow-x: hidden;
  background-color: #DFE2DB;
}

.body{
	height: auto;
}

h1{
  font-size: 3.4em;
}

h2{
  font-size: 2.2em;
}

p{
  font-size: 1.8em;
}

.central-container{
	padding: 30px;
	color: #333;
}

.jumbotron{
	margin-bottom: 0px;
}

$header-color: #4393B9;

.header{
	background-color: $header-color;
	color: white;
	text-align: center;
}

@include mq-until(tablet) {
  //Otherwise menu button will collapse with page title
  .header{
    padding-top: 70px;
  }
}

snap-content.snap-content{
  min-height: 100%;
  padding-bottom: 0;
}

.footer{
	color: white;
	background-color: #222222;
	width: 100%;
}

.row-padding-bottom{
	padding-bottom: 10px;
}

a, a:hover{
  text-decoration: none;
}

.link{
  cursor: pointer;
}

.header.home{
  min-height: 100%;

  .link{
    opacity: 1;
  }

  .link:hover{
    @include animation(fadeIn_100_70 0.7s ease);
    @include animation-fill-mode(forwards);
  }

  .fonctions{
    div{
      display: inline-block;
    }
  }
}

.tech-used{
  font-size: 2em;
  padding-bottom: 50px;

  @include mq-until(tablet) {
    text-align: center;
  }

  @include mq-from(tablet) {
    .tech-name{
      display: inline;
    }
  }
}

.social{
  
  font-size: 2em;

  @include mq-until(tablet) {
    $imageSize: 48px;
    .row{
      line-height: $imageSize;
    }
    img{
      width: $imageSize;
      height: $imageSize;
    }
  }

  @include mq-from(tablet) {
    $imageSize: 64px;
    .row{
      line-height: $imageSize;
    }
  	img{
      width: $imageSize;
      height: $imageSize;
    }
  }
}

.navbar{
  color: white;
  z-index: 1;
  width: 100%;
  padding: 0 20px;
  position: absolute;

  @include mq-wide(){
    padding: 0 70px;
  }

  .home-button{
    cursor: pointer;
    font-size: 1.9em;
    border: 4px solid white;
    padding: 2px;
    display: inline-block;
    //TO DO: Correct this
    margin-top: 12px;
  }

  .burger{
    cursor: pointer;
    font-size: 1.9em;

    span{
      vertical-align: middle;
    }
    
    .burger-icon{
      font-size: 1.8em;
    }
  }

  .burger:hover span, .home-button:hover{
    @include animation(fadeIn_100_70 0.7s ease);
    @include animation-fill-mode(forwards);
  }
}

side-menu{
  font-size: 2em;
  color: white;

  .link{
    opacity: 0.7;
  }

  .link:not(.current-state):hover{
    @include animation(fadeIn_70_100 0.7s ease);
    @include animation-fill-mode(forwards);
  }

  .link.current-state{
    opacity: 1;
  }
}

footer{
  font-size: 1.4em;
}

@include mq-xs(){
  @include sticky-footer(153px);
}

@include mq-phone(){
  @include sticky-footer(127px);
}

@include mq-from(tablet){
  @include sticky-footer(122px);
}