footer.jumbotron.footer
  .container
    .not-sm-inline-block &copy; Alexandre Moureaux 2014. 
    .not-sm-inline-block Being Made with love in Gif-sur-Yvette.
    div
      a(href="https://github.com/Almouro/alexandre-moureaux/issues/new") Report an issue.