footer.jumbotron.footer
  .container
    .link.sm-inline-block(ui-sref="contact") &copy; Alex<span class="hidden-xs">andre</span> Moureaux 2014.  
    .sm-inline-block 
      .ss-inline-block Being Made with love in 
      .ss-inline-block Gif-sur-Yvette.