.navbar.navbar-default(role='navigation', bs-navbar='bs-navbar')
  .navbar-header
    a.navbar-brand(ui-sref='home') AM
  ul.nav.navbar-nav
    li
      a(ui-sref='christian') Christian
    li
      a(ui-sref='software') Software
    li
      a(ui-sref='music') Music