doctype html
html(lang="en")
  head
    title 404 - Page not found - Alexandre Moureaux
    style.
      html{
        font-family: sans-serif;
        background-color: #DFE2DB;
        font-size: 2em;
      }

      .container{
        padding-top: 100px;
        max-width: 960px;
        margin: 0 auto;
      }

      .h1{
        font-size: 1.8em;
        font-weight: bold;
      }

      .verse{
        font-style: italic;
        font-size: 1.4em;
      }

      a{
        color: #337AB7;
        text-decoration: none;
      }

      a:hover, a:focus{
        color: #23527C;
      }
  body
    .container
      p.
        Sorry, this page does not exist...
        <br/>
        But as it is written:

      .h1 Jonah 4:04
      .verse.
        "And the Lord replied: <br/> Is it right for you to be angry?"
      p
        a(href="/").
          So keep calm and come back to the home page!