doctype html
html(lang="en")
  head
    title 500 - Internal Server Error - Alexandre Moureaux
    style.
      html{
        font-family: sans-serif;
        background-color: #DFE2DB;
        font-size: 2em;
      }

      .container{
        padding-top: 100px;
        max-width: 960px;
        margin: 0 auto;
      }

      .h1{
        font-size: 1.8em;
        font-weight: bold;
      }

      .verse{
        font-style: italic;
        font-size: 1.4em;
      }

      a{
        color: #337AB7;
        text-decoration: none;
      }

      a:hover, a:focus{
        color: #23527C;
      }
  body
    .container
      p.
        Sorry, an internal error occurred...
      p
        a(href="/").
          Click here to come back to the home page.