include ./includes/common.jade

.container
  h1 This website:

  div
    a(href="https://github.com/Almouro/alexandre-moureaux")
      img.img-responsive(src="#{IMG_DIR}/github.png")
      span has a public repository on Github

  div
    a(href="https://heroku.com")
      span is hosted on 
      img(src="#{IMG_DIR}/heroku.png")

  div
    a(href="http://nodejs.org/")
      span is served by 
      img(src="#{IMG_DIR}/nodejs.png")

  div
    a(href="https://angularjs.org/")
      span is built with 
      img(src="#{IMG_DIR}/angular.png")