.jumbotron.header
  section.container
    h1 Contact
.container.central-container
  .row
    .col-xs-12.col-md-11.col-md-offset-1.social
      - var imageSize = '64px'
      .row.row-padding-bottom
        a(href="https://www.linkedin.com/in/alexandremoureaux/")
          .col-xs-2
            img(src="assets/img/linkedin.png", alt="Linkedin")
          .col-xs-10.
            See my LinkedIn profile
      .row.row-padding-bottom
        a(href="skype:alexandre.moureaux?chat")
          .col-xs-2
            img(src="assets/img/skype.png", alt="Skype")
          .col-xs-10.
            alexandre.moureaux
      .row.row-padding-bottom
        a(href="mailto:hi@alexandremoureaux.com")
          .col-xs-2
            img(src="assets/img/emailcopy.png")
          .col-xs-10.
            Email me
      //- .row.row-padding-bottom
      //-   .col-xs-2
      //-     a(href="mailto:hi@alexandremoureaux.com")
      //-       img(src="assets/img/email.png", width="#{imageSize}", height="#{imageSize}")
      //-   .col-xs-10.
      //-     hi@alexandremoureaux.com
footer-almouro