include ./includes/common.jade

.jumbotron.header
  section.container
    h1 Contact
.container.central-container
  .row
    .col-xs-12.col-md-11.col-md-offset-1.social
      - var imageSize = '64px'
      .row.row-padding-bottom
        a(href="https://www.linkedin.com/in/alexandremoureaux/")
          .col-xs-2
            img(src="#{IMG_DIR}/linkedin.png", alt="Linkedin")
          .col-xs-10.
            See my LinkedIn profile
      .row.row-padding-bottom
        a(href="skype:alexandre.moureaux?chat")
          .col-xs-2
            img(src="#{IMG_DIR}/skype.png", alt="Skype")
          .col-xs-10.
            alexandre.moureaux
      .row.row-padding-bottom
        a(href="mailto:hi@alexandremoureaux.com")
          .col-xs-2
            img(src="#{IMG_DIR}/emailcopy.png")
          .col-xs-10.
            Email me
      .row.row-padding-bottom
        a(href="https://github.com/Almouro")
          .col-xs-2
            img(src="#{IMG_DIR}/github.png")
          .col-xs-10.
            Go to my GitHub Profile
footer-almouro