.jumbotron.header.home
  section.container(itemscope itemtype="http://data-vocabulary.org/Person")
    h1(itemprop="name").
      Alexandre Moureaux
    h2.fonctions(itemprop="role")
      .link(ui-sref='christian') Christian.
      .link(ui-sref='software') Future Software Engineer.
      .link(ui-sref='music') Aspiring Music Composer.
    meta(itemprop="url", content="alexandremoureaux.com")
    span(itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address")
      meta(itemprop="country-name" content="France")

.container.central-container
  p.
    This website is still being constructed.
  p.
    In the meantime you can check my <a ui-sref="contact">Contact information</a>.



footer-almouro