doctype html
html(lang="en", ng-app="almouro")
  head
    title Alexandre Moureaux
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='IE=edge')
    //meta(name='viewport', content='initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-touch-fullscreen', content='yes')

    link(rel="shortcut icon", href="/assets/icons/favicon.ico")

    include main/styles.jade
    include main/scripts.jade

  body(ng-controller='MainController')
    snap-drawer
      side-menu
    snap-content.snap-content
      burger(snap-toggle)
      .footer-parent(ui-view)

