.jumbotron.header
    section.container
      h1 Aspiring Music Composer

.container.central-container
  //- p.
  //-   I'm using <a href="https://www.ableton.com/en/live/">Ableton Live</a> to create music.
  p.
    This page is still being constructed, sorry...

footer-almouro