include ./includes/common.jade

.jumbotron.header
    section.container
      h1 Future Software Engineer

.container.central-container
  p.
    This page is still being constructed, sorry...

footer-almouro