link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
link(rel='stylesheet', href='libs/angular-snap.css', type='text/css')
link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel='stylesheet')
link(href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,500,600,700,800', rel='stylesheet', type='text/css')
link(rel="stylesheet", href="/css/index.min.css")